/* Estilo para el contenedor principal del catálogo */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,   1fr));
    gap:   20px;
    padding:   20px;
}

/* Estilo para las tarjetas de producto individuales */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border:   1px solid #ccc;
    padding:   20px;
    background-color: white;
    text-align: center;
    overflow: hidden; /* Contiene el contenido dentro de las dimensiones de la tarjeta */
    box-shadow:   0   4px   8px   0 rgba(0,0,0,0.2);
    transition:   0.3s;
    max-width:   300px; /* Limita el ancho máximo de la tarjeta */
}

/* Estilo para el contenedor de la imagen */
.product-image-container {
    width:  100%;
    height:  100%;
    overflow: hidden;
}

.product-image {
    width:  100%;
    height:  100%;
    object-fit: cover;
}

/* Estilo para el título del producto */
.product-name {
    font-weight: bold;
    margin-bottom:   10px; /* Espacio debajo del título */
}

/* Estilo para la cantidad y valor del producto */
.product-quantity, .product-value {
    color: #888;
    margin-bottom:   5px; /* Espacio debajo de la cantidad y valor */
}

/* Efecto hover para las tarjetas de producto */
.product-card:hover {
    box-shadow:   0   8px   16px   0 rgba(0,0,0,0.2);
}

/* Estilo para el botón de añadir al carrito */
.add-to-cart-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding:  10px  20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:  16px;
    margin:  4px  2px;
    cursor: pointer;
    border-radius:  4px;
}

/* Estilo para los botones de incremento y decremento */
.quantity-btn {
    background-color: transparent;
    border: none;
    color: #000;
    padding:  5px  10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:  16px;
    cursor: pointer;
}

/* Estilo para el modal del carrito */
#cartModal {
    width:  30%; /* Ajusta el ancho del modal */
    left:  65%; /* Posiciona el modal a un lado de la página */
    /* Otros estilos para el modal... */
}

/* Estilo para los botones de incremento y decremento */
.quantity-btn {
    background-color: transparent;
    border:  1px solid #ccc;
    color: #333;
    padding:  2px  5px;
    font-size:  14px;
    cursor: pointer;
    margin-left:  5px;
    margin-right:  5px;
}

/* Estilo para el campo de entrada de la cantidad */
.quantity-input {
    width:  50px;
    text-align: center;
    margin-left:  5px;
    margin-right:  5px;
}

/* Estilo para el contenedor de los controles de cantidad */
.quantity-controls {
    display: flex;
    align-items: center;
}

/* Estilo para el botón de añadir al carrito */
.add-to-cart-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding:  10px  20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:  16px;
    margin:  4px  2px;
    cursor: pointer;
    border-radius:  4px;
}

.add-to-cart-btn:hover {
    background-color: #45a049; /* Color de fondo al pasar el mouse */
}

#floatCartBtn img {
    width:  20px; /* Ajusta el tamaño de la imagen */
    height:  20px; /* Ajusta el tamaño de la imagen */
    vertical-align: middle; /* Alinea la imagen verticalmente con el texto */
    margin-right:  5px; /* Añade un espacio a la derecha de la imagen */
}

.cart-item-count {
    font-size:  1.5em; /* Ajusta el tamaño del texto */
    vertical-align: middle; /* Alinea el texto verticalmente con la imagen */
    color: red;
}

/* Estilos para el modal de pedido */
#cartModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Estilos para los botones del modal */
#cartModal button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-top: 10px;
    border-radius: 5px; /* Redondea los bordes de los botones */
}

#cartModal button:hover {
    opacity: 1;
}

/* Estilos para los campos del formulario */
#cartModal label {
    display: block;
    margin-bottom: 5px;
}

#cartModal input[type="text"],
#cartModal input[type="number"] {
    width: calc(100% - 12px); /* Ajusta el ancho del input */
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#cartModal input[type="number"] {
    width: 50px; /* Ancho fijo para los inputs de número */
}

/* Estilos para los detalles del pedido */
.cart-details {
    margin-top: 20px;
}

/* Estilos para los botones de eliminar del carrito */
.cart-item-remove {
    background-color: #f44336;
}

.cart-item-remove:hover {
    background-color: #d32f2f;
}

/* Estilos para la tabla del carrito */
.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    padding: 10px;
    text-align: left;
}

/* Ajustar el ancho de las columnas */
.cart-table td:nth-child(1) {
    width: 50%; /* Descripción del producto */
    
}

.cart-table td:nth-child(2),
.cart-table td:nth-child(3) {
    width: 20%; /* Cantidad y Valor */
    text-align: center; /* Alinear a la derecha */
}

.cart-table td:nth-child(4) {
    width: 10%; /* Botón de eliminar */
}

/* Alinear el botón de eliminar a la derecha */
.cart-table td:last-child {
    text-align: center;
}

/* Estilos para el botón de eliminar */
.cart-item-remove {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-item-remove:hover {
    background-color: #d32f2f;
}

.abf {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}


